<!-- Javascript -->
<!--[if lte IE 8]><script src="/public/javascripts/vendor/bind.js"></script><![endif]-->
<script src="/public/javascripts/vendor/details.polyfill.js"></script>
<script src="/public/javascripts/vendor/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>
<script src="/public/javascripts/vendor/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/vendor/auto-store-data.js"></script>
{% endif %}



<!-- project specific -->
<!-- load and init() modules based on moj Heisenberg pattern -->
<script src="/public/javascripts/module-loader.js"></script>
<!-- modules -->
<script src="/public/javascripts/modules/login-form.js"></script>
<script src="/public/javascripts/modules/confirm.js"></script>
<script src="/public/javascripts/modules/link-alert.js"></script>
<script src="/public/javascripts/modules/bucket-name.js"></script>
<!-- initialise -->
<script type="text/javascript">
  window.moj.init();
</script>
