{% extends "layout.html" %}

{% set page_title = "Edit data source" %}

{% block page_title %}
  {{ page_title }} | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: 'Data sources', url: '/datasources/list'}, {name: datasource.bucket_name, url: '/datasources/show/' + datasource.id}, {name: page_title}] %}
  {% include "includes/page_top.html" %}
  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  {% set button_text = "Save" %}
  <form action="/datasources/update/{{ datasource.id }}" method="post">
    {% include "datasources/includes/form.html" %}
  </form>

</main>

{% endblock %}
