{% extends "layout.html" %}

{% set page_title = datasource.bucket_name %}

{% block page_title %}
  {{ page_title }} | Data sources | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: 'Data sources', url: '/datasources/list'}, {name: datasource.bucket_name}] %}
  {% include "includes/page_top.html" %}
  <h1 class="heading-large">
    Data source: {{ page_title }}
  </h1>

  <p class="clearfix align-right">
    <a href="/datasources/edit/{{ datasource.id }}" class="button button-secondary">Edit data source</a>
  </p>

  <h2 class="heading-medium">Bucket URL</h2>
  <p><a href="{{ datasource.bucket_url }}">{{ datasource.bucket_url }}</a></p>

  <h2 class="heading-medium">Apps with access to this data source</h2>
  {% if datasourceApps.length %}
  <ul class="list list-bullet">
    {% for app in datasourceApps %}
    <li><a href="/apps/show/{{ app.id }}">{{ app.name }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No apps with access to this data source</p>
  {% endif %}

  <form action="/datasources/add-datasource-to-app/{{ datasource.id }}" method="post">
    <div class="form-group">
      <label class="form-label" for="add-datasource-to-app">Grant an app access to this data source</label>
      <select class="form-control form-control-3-4 no-blank" id="add-datasource-to-app" name="add-datasource-to-app">
        <option value="">Select app</option>
        {% for app in appsWithoutDatasource %}
          <option value="{{ app.id }}">{{ app.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <input type="submit" class="button button-secondary" value="Add">
    </div>
  </form>


</main>

{% endblock %}
