{% extends "layout.html" %}

{% set page_title = "Edit group" %}

{% block page_title %}
  {{ page_title }} | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: 'Groups', url: '/groups/list'}, {name: page_title}] %}
  {% include "includes/page_top.html" %}
  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  {% set button_text = "Save" %}
  <form action="/groups/list">
    {% include "groups/includes/form.html" %}
  </form>

  <hr>

  <div class="grid-row">

    <div class="column-one-half">
      <div class="form-group">
        <h2 class="heading-medium">Current members</h2>
        {% if members.length %}
          <table>
            {% for member in members %}
              <tr>
                <td>
                  <a href="/users/show/{{ member.id }}">{{ member.name }}</a>
                  {% if member.role %}
                    <em>({{ grouproles[member.role].name }})</em>
                  {% endif %}
                </td>
                <td><a class="button button-secondary right" href="#">Remove</a></td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          <p>No current members</p>
        {% endif %}
      </div>

      <form action="/groups/edit/{{ group.id }}">
        <div class="form-group">
          <label class="form-label" for="add-member">Add member</label>
          <select class="form-control form-control-3-4" id="add-member" name="add-member">
            <option value="">Select member</option>
            {% for user in usersNotInGroup %}
              <option id="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <input type="submit" class="button button-secondary" value="Add">
        </div>
      </form>
    </div>

    <div class="column-one-half">
      <div class="form-group">
        <h2 class="heading-medium">Current apps</h2>
        {% if groupApps.length %}
          <table>
            {% for app in groupApps %}
              <tr>
                <td><a href="/apps/show/{{ app.id }}">{{ app.name }}</a></td>
                <td><a class="button button-secondary right" href="#">Remove</a></td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          <p>No current apps</p>
        {% endif %}
      </div>

      <form action="/groups/edit/{{ group.id }}">
        <div class="form-group">
          <label class="form-label" for="add-app">Add app</label>
          <select class="form-control form-control-3-4" id="add-app" name="add-app">
            <option value="">Select app</option>
            {% for app in appsNotAvailableToGroup %}
              <option id="{{ app.id }}">{{ app.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <input type="submit" class="button button-secondary" value="Add">
        </div>
      </form>
    </div>

  </div>




</main>

{% endblock %}
