{% extends "layout.html" %}

{% block page_title %}
  Groups | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Groups
  </h1>

  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr>
        <td>{{ group.id }}</td>
        <td>{{ group.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</main>

{% endblock %}
