{% extends "layout.html" %}

{% set page_title = "Groups" %}

{% block page_title %}
  {{ page_title }} | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: page_title}] %}
  {% include "includes/page_top.html" %}

  <p><a href="/groups/new" class="button right">Add new group</a></p>

  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr>
        <td>{{ group.id }}</td>
        <td><a href="/groups/show/{{ group.id }}">{{ group.name }}</a></td>
        <td><a href="/groups/edit/{{ group.id }}">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</main>

{% endblock %}
