{% extends "layout.html" %}

{% set page_title = "Edit user" %}

{% block page_title %}
  {{ page_title }} | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/page_top.html" %}

  {% set name = "Bob Example" %}
  {% set email = "bob.example@prototype.gov.uk" %}
  {% set github_username = "bobbo.radix77" %}
  {% set button_text = "Save" %}
  <form action="/users/list">
    {% include "users/includes/form.html" %}
  </form>

</main>

{% endblock %}
