{% extends "layout.html" %}

{% set page_title = "Edit user" %}

{% block page_title %}
  {{ page_title }} | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    {{ page_title }}
  </h1>

  {% set name = "Bob Example" %}
  {% set email = "bob.example@prototype.gov.uk" %}
  {% set github_username = "bobbo.radix77" %}
  {% set button_text = "Save" %}
  <form action="/users/list">
    {% include 'users/includes/form.html' %}
  </form>

</main>

{% endblock %}
