{% extends "layout.html" %}

{% block page_title %}
  Users | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Users
  </h1>

  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Github username</th>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td><a class="button" href="/users/edit/{{ user.id }}">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</main>

{% endblock %}
