{% extends "layout.html" %}

{% set page_prefix = "User:" %}

{% set page_title = [page_prefix, user.name] | join(" ") %}

{% block page_title %}
  {{ page_title }} | Analytics Platform Control Panel Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  <h2>User's apps</h2>
  {% if userApps.length %}
    <ul class="list list-bullet">
      {% for app in userApps %}
        <li>
          <a href="/apps/show/{{ app.id }}">{{ app.name }}</a>
          {% if app.role == 0 %}
          (Admin)
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>None</p>
  {% endif %}

  <h2>User's app data sources</h2>
  {% if userDatasources.length %}
    <ul class="list list-bullet">
      {% for datasource in userDatasources %}
        <li><a href="/datasources/show/{{ datasource.id }}">{{ datasource.bucket_name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>None</p>
  {% endif %}

</main>

{% endblock %}
