{% extends "layout.html" %}

{% if signedInUser %}
  {% set page_prefix = "Dashboard:" %}
  {% set list_prefix = "Your" %}
  {% set breadcrumb = [] %}
{% else %}
  {% set page_prefix = "User:" %}
  {% set list_prefix = "User's" %}
  {% set breadcrumb = [{name: "User: " + user.name}] %}
{% endif %}

{% set page_title = [page_prefix, user.name] | join(" ") %}

{% block page_title %}
  {{ page_title }} | Analytics Platform Control Panel Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = breadcrumb %}
  {% include "includes/breadcrumbs.html" %}

  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  <div class="form-group">
    <h2>{{ list_prefix }} apps</h2>
    {% if userApps.length %}
      <table class="form-group">
        <thead>
          <tr>
            <th>App name</th>
            <th>Admin</th>
            {% if signedInUser %}
              <td>&nbsp;</td>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for app in userApps %}
            <tr>
              <td>
                <a href="/apps/show/{{ app.id }}">{{ app.name }}</a>
              </td>
              <td>
                {% if app.role == 0 %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </td>
              {% if signedInUser %}
                <td class="align-right">
                  {% if app.role == 0 %}
                    <a class="button button-secondary" href="/apps/manage/{{ app.id }}">Manage app</a>
                    <a class="button button-secondary js-confirm" href="/apps/delete/{{ app.id }}/{{ user.id }}">Delete app</a>
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>None</p>
    {% endif %}

    {% if signedInUser %}
      <p><a class="button button-secondary" href="/apps/new">Create new app</a></p>
    {% endif %}
  </div>

  <div class="form-group">
    <h2>{{ list_prefix }} app data sources</h2>
    {% if userDatasources.length %}
      <table class="form-group">
        <thead>
          <tr>
            <th>Data source name</th>
            <th>Admin</th>
            {% if signedInUser %}
              <td>&nbsp;</td>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for datasource in userDatasources %}
            <tr>
              <td>
                <a href="/datasources/show/{{ datasource.id }}">{{ datasource.bucket_name }}</a>
              </td>
              <td>
                {% if datasource.role == 0 %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </td>
              {% if signedInUser %}
                <td class="align-right">
                  {% if app.role == 0 %}
                    <a class="button button-secondary" href="/datasources/manage/{{ datasource.id }}">Manage app data source</a>
                    <a class="button button-secondary js-confirm" href="/datasources/delete/{{ datasource.id }}/{{ user.id }}">Delete app data source</a>
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>None</p>
    {% endif %}

    {% if signedInUser %}
      <p><a class="button button-secondary" href="/datasources/new">Create new app data source</a></p>
    {% endif %}
  </div>

</main>

{% endblock %}
