{% extends "layout.html" %}

{% set page_title = "Home" %}

{% block page_title %}
  {{ page_title }} | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Analytics Admin Prototype
  </h1>

  {# super-admin only #}
  {% if data['user_type'] == 'super-admin' %}
  <div class="grid-row">

    <div class="column-one-third">

      <h2 class="heading-large">Users</h2>
      <ul>
        <li><a href="/users/new">Add</a></li>
        <li><a href="/users/list">List</a></li>
      </ul>

    </div>

    <div class="column-one-third">

      <h2 class="heading-large">Apps</h2>
      <ul>
        <li><a href="/apps/new">Add</a></li>
        <li><a href="/apps/list">List</a></li>
      </ul>

    </div>

    <div class="column-one-third">

      <h2 class="heading-large">Groups</h2>
      <ul>
        <li><a href="/groups/new">Add</a></li>
        <li><a href="/groups/list">List</a></li>
      </ul>

    </div>

  </div>
  {% endif %}
  {# end super-admin only #}

  {# team-admin only #}
  {% if data['user_type'] == 'team-admin' %}
  <p>team admin</p>
  {% endif %}
  {# end team-admin only #}

  {# team-member only #}
  {% if data['user_type'] == 'team-member' %}
  <p>team member</p>
  {% endif %}
  {# end team-member only #}

</main>

{% endblock %}
