{% set admin = 'true' %}
{% extends "layout.html" %}

{% set page_title = "Edit app data source" %}

{% block page_title %}
  {{ page_title }} | Analytics Platform Control Panel Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: 'App data sources', url: '/admin/datasources/list'}, {name: datasource.bucket_name, url: '/admin/datasources/show/' + datasource.id}, {name: page_title}] %}
  {% include "includes/page_top.html" %}
  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  {% set button_text = "Save" %}
  <form action="/admin/datasources/update/{{ datasource.id }}" method="post">
    {% include "admin/datasources/includes/form.html" %}
  </form>

  <div class="form-group">
    <h2 class="heading-medium">Apps with access to this datasource</h2>
    {% if datasourceApps.length %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <td>&nbsp;</td>
          </tr>
        </thead>
        <tbody>
          {% for app in datasourceApps %}
            <tr>
              <td><a href="/admin/apps/show/{{ app.id }}">{{ app.name }}</a></td>
              <td class="align-right">
                <a class="button button-secondary" href="/admin/datasources/remove-app/{{ datasource.id }}/{{ app.id}}">Revoke app access to this datasource</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No apps with access to this datasource</p>
    {% endif %}
  </div>

  <form action="/admin/datasources/add-datasource-to-app/{{ datasource.id }}" method="post">
    <div class="form-group">
      <label class="form-label" for="add-datasource-to-app">Grant an app access to this app data source</label>
      <select class="form-control no-blank" id="add-datasource-to-app" name="add-datasource-to-app">
        <option value="">Select app</option>
        {% for app in appsWithoutDatasource %}
          <option value="{{ app.id }}">{{ app.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <input type="submit" class="button button-secondary" value="Add">
    </div>
  </form>

  <div class="form-group">
    <h2 class="heading-medium">Users with access to this datasource</h2>
    {% if datasourceUsers.length %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <td>&nbsp;</td>
          </tr>
        </thead>
        <tbody>
          {% for user in datasourceUsers %}
            <tr>
              <td><a href="/admin/users/show/{{ user.id }}">{{ user.name }}</a></td>
              <td class="align-right">
                <a class="button button-secondary" href="/admin/datasources/remove-user/{{ datasource.id }}/{{ user.id}}">Revoke user access to this datasource</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No users with access to this datasource</p>
    {% endif %}
  </div>

  <form action="/admin/datasources/add-datasource-to-user/{{ datasource.id }}" method="post">
    <div class="form-group">
      <label class="form-label" for="add-datasource-to-user">Grant a user access to this app data source</label>
      <select class="form-control no-blank" id="add-datasource-to-user" name="add-datasource-to-user">
        <option value="">Select user</option>
        {% for user in usersWithoutDatasource %}
          <option value="{{ user.id }}">{{ user.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <input type="submit" class="button button-secondary" value="Add">
    </div>
  </form>


</main>

{% endblock %}
