{% set admin = 'true' %}
{% extends "layout.html" %}

{% set page_title = "App data sources" %}

{% block page_title %}
  {{ page_title }} | Analytics Platform Control Panel Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: page_title}] %}
  {% include "includes/page_top.html" %}
  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  <p class="clearfix align-right">
    <a href="/admin/datasources/new" class="button button-secondary">Add new app data source</a>
  </p>
  <p>{{ datasources.length }} app data sources</p>
  <p><em>For prototyping purposes all data sources are assumed to be S3 buckets</em></p>

  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Bucket</th>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      {% for datasource in datasources %}
      <tr>
        <td>{{ datasource.id }}</td>
        <td><a href="/admin/datasources/show/{{ datasource.id }}">{{ datasource.bucket_name }}</a></td>
        <td class="align-right no-wrap">
          <a class="button button-secondary" href="/admin/datasources/edit/{{ datasource.id }}">Edit</a>
          <a class="button button-secondary js-confirm" href="/admin/datasources/delete/{{ datasource.id }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</main>

{% endblock %}
