{% set admin = 'true' %}
{% extends "layout.html" %}

{% set page_title = "New app data source" %}

{% block page_title %}
  {{ page_title }} | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: 'App data sources', url: '/admin/datasources/list'}, {name: page_title}] %}
  {% include "includes/page_top.html" %}
  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  <form action="/admin/datasources/add" method="post">
    {% include "admin/datasources/includes/form.html" %}
  </form>

</main>

{% endblock %}
