{% set admin = 'true' %}
{% extends "layout.html" %}

{% set page_title = datasource.bucket_name %}

{% block page_title %}
  {{ page_title }} | App data sources | Analytics Platform Control Panel Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: 'App data sources', url: '/admin/datasources/list'}, {name: datasource.bucket_name}] %}
  {% include "includes/breadcrumbs.html" %}
  <h1 class="heading-large">
    App data source: {{ page_title }}
  </h1>

  <p class="clearfix align-right">
    <a href="/admin/datasources/edit/{{ datasource.id }}" class="button button-secondary">Edit app data source</a>
    <a class="button button-secondary js-confirm" href="/admin/datasources/delete/{{ datasource.id }}">Delete app data source</a>
  </p>

  <h2 class="heading-medium">Apps with access to this app data source</h2>
  {% if datasourceApps.length %}
  <ul class="list list-bullet">
    {% for app in datasourceApps %}
    <li><a href="/admin/apps/show/{{ app.id }}">{{ app.name }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No apps with access to this app data source</p>
  {% endif %}

  <h2 class="heading-medium">Users with access to this app data source</h2>
  {% if datasourceUsers.length %}
  <ul class="list list-bullet">
    {% for user in datasourceUsers %}
    <li><a href="/admin/users/show/{{ user.id }}">{{ user.name }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No users with access to this app data source</p>
  {% endif %}

</main>

{% endblock %}
