{% extends "layout.html" %}

{% set page_title = "Edit app data sources" %}

{% block page_title %}
  {{ page_title }} | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: 'Apps', url: '/admin/apps/list'}, {name: app.name, url: '/admin/apps/show/' + app.id}, {name: page_title}] %}
  {% include "includes/page_top.html" %}
  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  <div class="form-group">
    {% if appDatasources.length %}
      <p>{{ appDatasources.length }} datasources available to this app</p>
      <table>
        <thead>
          <tr>
            <th>Data source name</th>
            <td>&nbsp;</td>
          </tr>
        </thead>
        <tbody>
          {% for datasource in appDatasources %}
            <tr>
              <td>
                <a href="/admin/datasources/show/{{ datasource.id }}">{{ datasource.bucket_name }}</a>
              </td>
              <td class="align-right">
                <a class="button button-secondary" href="/admin/apps/remove-datasource/{{ app.id }}/{{ datasource.id }}">Revoke app access to this datasource</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No datasources available to this app</p>
    {% endif %}
  </div>

  <form action="/admin/apps/add-datasource/{{ app.id }}" method="post">
    <div class="form-group">
      <label class="form-label" for="add-datasource">Grant this app access to a datasource</label>
      <select class="form-control form-control-3-4 no-blank" id="add-datasource" name="add-datasource">
        <option value="">Select datasource</option>
        {% for datasource in datasourcesUnavailableToApp %}
          <option value="{{ datasource.id }}">{{ datasource.bucket_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <input type="submit" class="button button-secondary" value="Add">
    </div>
  </form>

</main>

{% endblock %}
