{% set admin = 'true' %}
{% extends "layout.html" %}

{% set page_title = "Edit app groups" %}

{% block page_title %}
  {{ page_title }} | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: 'Apps', url: '/admin/apps/list'}, {name: app.name, url: '/admin/apps/show/' + app.id}, {name: page_title}] %}
  {% include "includes/page_top.html" %}
  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  <div class="form-group">
    {% if appGroups.length %}
      <p>{{ appGroups.length }} groups with access to this app</p>
      <table>
        <thead>
          <tr>
            <th>Group name</th>
            <td>&nbsp;</td>
          </tr>
        </thead>
        <tbody>
          {% for group in appGroups %}
            <tr>
              <td>
                <a href="/admin/groups/show/{{ group.id }}">{{ group.name }}</a>
              </td>
              <td class="align-right">
                <a class="button button-secondary" href="/admin/apps/remove-group/{{ app.id }}/{{ group.id }}">Revoke access to app</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No groups with access to this app</p>
    {% endif %}
  </div>

  <form action="/admin/apps/add-group/{{ app.id }}" method="post">
    <div class="form-group">
      <label class="form-label" for="add-group">Grant a group access to this app</label>
      <select class="form-control form-control-3-4 no-blank" id="add-group" name="add-group">
        <option value="">Select group</option>
        {% for group in groupsNotGrantedAccessToApp %}
          <option value="{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <input type="submit" class="button button-secondary" value="Add">
    </div>
  </form>

</main>

{% endblock %}
