{% set admin = 'true' %}
{% extends "layout.html" %}

{% set page_title = "Apps" %}

{% block page_title %}
  {{ page_title }} | Analytics Platform Control Panel Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: page_title}] %}
  {% include "includes/breadcrumbs.html" %}
  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  <p class="clearfix align-right">
    <a href="/admin/apps/new" class="button button-secondary">Add new app</a>
  </p>
  <p>{{ apps.length }} apps</p>
  <p><em>For prototyping purposes all apps are assumed to be Github repos</em></p>

  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Repo</th>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
      <tr>
        <td>{{ app.id }}</td>
        <td><a href="/admin/apps/show/{{ app.id }}">{{ app.name }}</a></td>
        <td>{{ app.description }}</td>
        <td><a href="{{ app.repoUrl }}">Github</a></td>
        <td class="align-right no-wrap">
          <a class="button button-secondary" href="/admin/apps/edit/{{ app.id }}">Edit</a>
          <a class="button button-secondary js-confirm" href="/admin/apps/delete/{{ app.id }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</main>

{% endblock %}
