{% set admin = 'true' %}
{% extends "layout.html" %}

{% set page_title = app.name %}

{% block page_title %}
  {{ page_title }} | Apps | Analytics Platform Control Panel Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: 'Apps', url: '/admin/apps/list'}, {name: app.name}] %}
  {% include "includes/page_top.html" %}
  <h1 class="heading-large">
    App: {{ page_title }}
  </h1>

  <p class="clearfix align-right">
    <a href="/admin/apps/edit/{{ app.id }}" class="button button-secondary">Edit app</a>
    <a class="button button-secondary js-confirm" href="/admin/apps/delete/{{ app.id }}">Delete app</a>
  </p>

  <h2 class="heading-medium">Description</h2>
  {% if app.description %}
    <p>{{ app.description }}</p>
  {% else %}
    <p><em>None</em></p>
  {% endif %}
  <h2 class="heading-medium">Repo URL</h2>
  <p><a href="{{ app.repoUrl }}">{{ app.repoUrl }}</a></p>

  <div class="grid-row">

    <div class="column-half">
      <h2 class="heading-medium">App group</h2>
      {% if appGroup.length %}
        <ul class="list list-bullet">
          {% for appGroupMember in appGroup %}
            <li>
              <a href="/admin/users/show/{{ appGroupMember.id }}">{{ appGroupMember.name }}</a>
              {% if appGroupMember.role == 0 %}
                (Admin)
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No users in app group</p>
      {% endif %}
    </div>

    <div class="column-half">

      <h2 class="heading-medium">App data sources available to this app</h2>
      {% if appDatasources.length %}
        <ul class="list list-bullet">
          {% for datasource in appDatasources %}
            <li><a href="/admin/datasources/show/{{ datasource.id }}">{{ datasource.bucket_name }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No app data sources available to this app</p>
      {% endif %}
    </div>

  </div>

</main>

{% endblock %}
