{% extends "layout.html" %}

{% set page_title = "Home" %}
{% set user_type = data['user_type'] | default('super-admin') %}

{% block page_title %}
  {{ page_title }} | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Analytics Admin Prototype
  </h1>

  {# super-admin only #}
  {% if user_type == 'super-admin' %}
    {% include 'home/roles/super-admin.html' %}
  {% endif %}
  {# end super-admin only #}

  {# team-admin only #}
  {% if data['user_type'] == 'team-admin' %}
    {% include 'home/roles/team-admin.html' %}
  {% endif %}
  {# end team-admin only #}

  {# team-member only #}
  {% if data['user_type'] == 'team-member' %}
    {% include 'home/roles/team-member.html' %}
  {% endif %}
  {# end team-member only #}

</main>

{% endblock %}
