{% extends "layout.html" %}

{% set page_title = "Apps" %}

{% block page_title %}
  {{ page_title }} | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: page_title}] %}
  {% include "includes/page_top.html" %}

  <p><a href="/apps/new" class="button right">Add new app</a></p>

  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Repo</th>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
      <tr>
        <td>{{ app.id }}</td>
        <td>{{ app.name }}</td>
        <td>{{ app.description }}</td>
        <td><a href="{{ app.repo_url }}">Github</a></td>
        <td><a href="/apps/edit/{{ app.id }}">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</main>

{% endblock %}
