{% extends "layout.html" %}

{% block page_title %}
  Apps | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Apps
  </h1>

  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Repo</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
      <tr>
        <td>{{ app.id }}</td>
        <td>{{ app.name }}</td>
        <td>{{ app.description }}</td>
        <td><a href="{{ app.repo_url }}">Github</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</main>

{% endblock %}
