{% extends "layout.html" %}

{% set page_title = "App: " + app.name %}

{% block page_title %}
  {{ page_title }} | Analytics Platform Control Panel Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  <h2 class="heading-medium">App data sources</h2>
  {% if appDatasources.length %}
    <ul class="list list-bullet">
      {% for datasource in appDatasources %}
        <li><a href="/datasources/show/{{ datasource.id }}">{{ datasource.bucket_name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>None</p>
  {% endif %}

</main>

{% endblock %}
