{% set admin = 'true' %}
{% extends "layout.html" %}

{% set page_title = "Edit user" %}

{% block page_title %}
  {{ page_title }} | Analytics Platform Control Panel Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: 'Users', url: '/admin/users/list'}, {name: user.name, url: '/admin/users/show/' + user.id}, {name: page_title}] %}
  {% include "includes/page_top.html" %}
  <h1 class="heading-large">
    {{ page_title }}
  </h1>

  <p class="clearfix align-right">
    <a class="button button-secondary js-confirm" href="/users/delete/{{ user.id }}">Delete user</a>
  </p>

  {% set button_text = "Save" %}
  <form action="/admin/users/update/{{ user.id }}" method="post">
    {% include "admin/users/includes/form.html" %}
  </form>

  <div class="form-group">
    <h2 class="heading-medium">Apps available to this user</h2>
    {% if userApps.length %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <td>&nbsp;</td>
          </tr>
        </thead>
        <tbody>
          {% for app in userApps %}
            <tr>
              <td><a href="/admin/apps/show/{{ app.id }}">{{ app.name }}</a></td>
              <td class="align-right">
                <a class="button button-secondary" href="/admin/users/remove-user-from-app/{{ user.id }}/{{ app.id}}">Revoke user access to this app</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No apps available to this user</p>
    {% endif %}
  </div>

  <form action="/admin/users/add-user-to-app/{{ user.id }}" method="post">
    <div class="form-group">
      <label class="form-label" for="add-user-to-app">Grant this user access to an app</label>
      <select class="form-control no-blank" id="add-user-to-app" name="add-user-to-app">
        <option value="">Select app</option>
        {% for app in appsNotAvailableToUser %}
          <option value="{{ app.id }}">{{ app.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <input type="submit" class="button button-secondary" value="Add">
    </div>
  </form>

  <div class="form-group">
    <h2 class="heading-medium">Datasources available to this user</h2>
    {% if userDatasources.length %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <td>&nbsp;</td>
          </tr>
        </thead>
        <tbody>
          {% for datasource in userDatasources %}
            <tr>
              <td><a href="/admin/datasources/show/{{ datasource.id }}">{{ datasource.bucket_name }}</a></td>
              <td class="align-right">
                <a class="button button-secondary" href="/admin/users/remove-datasource-from-user/{{ datasource.id }}/{{ user.id}}">Revoke user access to this datasource</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No apps available to this user</p>
    {% endif %}
  </div>

  <form action="/admin/users/add-datasource-to-user/{{ user.id }}" method="post">
    <div class="form-group">
      <label class="form-label" for="add-datasource-to-user">Grant this user access to a datasource</label>
      <select class="form-control no-blank" id="add-datasource-to-user" name="add-datasource-to-user">
        <option value="">Select datasource</option>
        {% for datasource in datasourcesNotAvailableToUser %}
          <option value="{{ datasource.id }}">{{ datasource.bucket_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <input type="submit" class="button button-secondary" value="Add">
    </div>
  </form>

</main>

{% endblock %}
