{% set admin = 'true' %}
{% extends "layout.html" %}

{% set page_title = user.name %}

{% block page_title %}
  {{ page_title }} | Users | Analytics Platform Control Panel Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% set crumbs = [{name: 'Users', url: '/admin/users/list'}, {name: user.name}] %}
  {% include "includes/page_top.html" %}
  <h1 class="heading-large">
    User: {{ page_title }}
  </h1>

  <p class="clearfix align-right">
    <a href="/admin/users/edit/{{ user.id }}" class="button button-secondary">Edit user</a>
    <a class="button button-secondary js-confirm" href="/admin/users/delete/{{ user.id }}">Delete user</a>
  </p>

  <h2 class="heading-medium">Email</h2>
  <p>{{ user.email }}</p>
  <h2 class="heading-medium">Github username</h2>
  <p><a href="https://github.com/{{ user.github_username }}">{{ user.github_username }}</a></p>

  <h2 class="heading-medium">Apps</h2>
  {% if userApps.length %}
    <ul class="list list-bullet">
      {% for userApp in userApps %}
        <li>
          <a href="/admin/apps/show/{{ userApp.id }}">{{ userApp.name }}</a>
          {% if userApp.role == 0 %}
            (Admin)
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>None</p>
  {% endif %}

</main>

{% endblock %}
