{% extends "layout.html" %}

{% set page_title = "Sign in" %}

{% block page_title %}
  {{ page_title }} | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{ page_title }}
      </h1>

      <form id="login" action="signin" method="post">
        <div class="form-group">
          <label class="form-label" for="username">Username:</label>
          <input class="form-control" type="text" name="username" id="username" value="super-admin@prototype.gov.uk">
        </div>

        <input type="hidden" id="user_type" name="user_type" value="super-admin">
        <input type="hidden" id="user_id" name="user_id" value="-1">
        <input type="hidden" id="homepage" name="homepage" value="admin/home">

        <input type="submit" class="button" value="Sign in">
      </form>

    </div>

    <div class="column-one-third">

      <div class="demo clearfix">

        <h2 class="heading-medium">Simulate sign in as:</h2>
        <div class="form-group">
          <fieldset class="user-type">
            <div class="multiple-choice">
              <input type="radio" id="select-user-type_super-admin" name="select-user-type" value="super-admin" data-homepage="admin/home" checked>
              <label for="select-user-type_super-admin">Super admin</label>
            </div>
            <div class="multiple-choice" data-target="selectUser">
              <input type="radio" id="select-user-type_regular-user" name="select-user-type" value="regular-user" data-homepage="home">
              <label for="select-user-type_regular-user">Regular user</label>
            </div>
          </fieldset>
        </div>
        <div class="form-group js-hidden" id="selectUser">
          <select id="user-select">
            {% for user in users %}
              <option id="{{ user.id }}" data-useremail="{{ user.email }}">{{ user.name }}</option>
            {% endfor %}
          </select>
        </div>


      </div>

    </div>
  </div>
</main>

{% endblock %}
