{% extends "layout.html" %}

{% set page_title = "Sign in" %}

{% block page_title %}
  {{ page_title }} | Analytics Admin Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{ page_title }}
      </h1>

      <form id="login" action="home" method="post">
        <div class="form-group">
          <label class="form-label" for="username">Username:</label>
          <input class="form-control" type="text" name="username" id="username" value="super-admin@prototype.gov.uk">
        </div>

        <input type="hidden" id="user_type" name="user_type" value="super-admin">

        <input type="submit" class="button" value="Sign in">
      </form>

    </div>

    <div class="column-one-third">

      <div class="demo">

        <h2 class="heading-medium">Simulate sign in as:</h2>
        <fieldset class="user-type">
          <div class="multiple-choice">
            <input type="radio" id="select-user-type_super-admin" name="select-user-type" value="super-admin" checked>
            <label for="select-user-type_super-admin">Super admin</label>
          </div>
          <div class="multiple-choice">
            <input type="radio" id="select-user-type_team-admin" name="select-user-type" value="team-admin">
            <label for="select-user-type_team-admin">Team admin</label>
          </div>
          <div class="multiple-choice">
            <input type="radio" id="select-user-type_team-member" name="select-user-type" value="team-member">
            <label for="select-user-type_team-member">Team member</label>
          </div>
        </fieldset>

      </div>

    </div>
  </div>
</main>

{% endblock %}
